extends ../layout

block content
    h1= title
    ul
        li= 'User Id' + ': ' + data.user.id
        li= 'User Email' + ': ' + data.user.email
        li= 'Context' + ': ' + data.context
        li= 'Store_hash' + ': ' + data.store_hash
        li= 'Timestamp' + ': ' + data.timestamp
